@media (max-width: 600px) {
    nav ul {
      display: none;
    }
    nav ul.responsive {
      display: block;
    }
  }

  nav,
footer {
  background: linear-gradient(rgb(54, 143, 7), #333);
}

a,nav,
footer {
  color: rgb(255, 0, 0);
}
form {
    color: rgb(0, 0, 0);
    background-color: rgb(65, 201, 47);
  }
  form input,
  form textarea,
  form button {
    color: rgb(2, 8, 3);
    background-color: rgba(192, 71, 71, 0.885);
  }
  header,
  main {
    color:rgb(0, 0, 0);
    background-color: transparent;
  }
    